name: Build, Publish Docker Image, and Manual Deploy

permissions:
  contents: read
  packages: write

on:
  push:
    tags:
      - "v*"
    branches:
      - main
      - pub*
      - deploy*
  workflow_dispatch: # allow manual trigger

env:
  IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/$(basename $GITHUB_REPOSITORY)
  BASE_URL: https://bible.techaddo.com

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Determine image tags
        id: vars
        run: |
          COMMIT_SHORT=$(echo ${GITHUB_SHA} | cut -c1-7)
          if [[ "${GITHUB_REF_NAME}" == "main" ]]; then
            BRANCH_TAG="latest"
          else
            BRANCH_TAG="${GITHUB_REF_NAME}"
          fi
          echo "COMMIT_TAG=${COMMIT_SHORT}" >> $GITHUB_ENV
          echo "BRANCH_TAG=${BRANCH_TAG}" >> $GITHUB_ENV

      - name: Build Docker image
        run: |
          docker build --build-arg VITE_API_BASE_URL=${{ env.BASE_URL }} -t ${{ env.IMAGE_NAME }}:${BRANCH_TAG} -t ${{ env.IMAGE_NAME }}:${COMMIT_TAG} .

      - name: Push Docker image
        run: |
          docker push ${{ env.IMAGE_NAME }}:${BRANCH_TAG}
          docker push ${{ env.IMAGE_NAME }}:${COMMIT_TAG}

  deploy:
    needs: docker
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' || startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/main'

    steps:
      - name: Manual deploy
        run: |
          COMMIT_TAG=$(echo ${GITHUB_SHA} | cut -c1-7)
          echo "Deploying Docker image ${{ env.IMAGE_NAME }}:${COMMIT_TAG}"

          # Setup SSH key
          echo "${{ secrets.DEPLOY_KEY }}" > deploy_key
          chmod 600 deploy_key

          # Run deploy command
          ssh -i deploy_key -o StrictHostKeyChecking=no -p 2112 deploy@${{ secrets.DEPLOY_HOST }} "${{ github.actor }}" WEB ${COMMIT_TAG}

          # Cleanup
          rm -f deploy_key

